{% extends "layout.html" %}
{% block content %}
<div class="page">

<h3>Cadastro cliente</h3>

<form class="manter" action="/save" method="POST" >
    <label>
        <span>Nome</span>
        <input type="text" name="nome" autocomplete="off" minlength="2" required="required"/>
    </label>
    <label>
        <span>CPF</span>
        <input type="text" name="cpf" autocomplete="off"/>
    </label>
    <label>
        <span>Email</span>
        <input type="text" name="email" autocomplete="off"/>
    </label>
    <input type="submit" value="adicinar"/>
</form>

</div>
{% endblock %}